@use "../breakpoints" as breakpoints;

// Icons
.icon {
    color: $White;
}

// Buttons
a.primary-cta {
    background-color: $BandSite-Black;
    color: $White;
    display: block;
    // check this height value, "will remain 40px through all sizes"
    height: 2.5rem;
    width: 100%;
    border-radius: 0.25rem;
    transition: all 400ms ease;
    text-align: center;

    &:hover {
        background-color: $BandSite-DarkBlack;
        // 
        // transform: translateX(0.75rem);
        // background-color: #a9603f;
        // background-color: $background-white;
        // color: $primary-text-color;
    }

    @include breakpoints.medium {
        min-width: 9.375rem;
        padding: 0rem 2rem;
    }
}


// Dividers
.divider {
    border-top: 1px solid $Mercury;
    width: 100%;
}

//  Avatars
.avatar {
    border-radius: 50%;
    max-width: 2.25rem;
    background-color: $Mercury;

    @include breakpoints.medium {
        max-width: 3rem;
    }
}