@use "../global/variables" as variables;
@use "../helpers/mixins" as mixins;

// Columns and spacing
main {
    section {
        @extend %max-width-mobile;
    }
}

// Hero
.section--hero {
    background-color: variables.$BandSite-Black;
    color: variables.$White;
    background: linear-gradient(to bottom, rgba(1, 1, 1, 0.4), rgba(5, 5, 5, 0.4)),  url('../assets/images/hero-bio.jpg');
    // background-image: url('../assets/images/hero-bio.jpg');
    height: 50vh;
    min-width: 100%;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    @include mixins.display-flex($justifyContent: left);
    
}

// About
.section--about {

    &__blockquote {
        margin: 0px;
        padding: 1rem 0rem;
        font-weight: 600;
    }

    &__quote-source {
        padding-top: 1rem;
    }
    
}

// Gallery
.section--gallery {
    @include mixins.display-flex($flexDirection: column);
    padding-bottom: 1rem;
}