@use "../global/variables" as variables;
@use "../helpers/mixins" as mixins;
@use "../helpers/breakpoints" as breakpoints;

// Columns and spacing
main {
    section {
        @include mixins.max-width-mobile;
        // tablet
        @include breakpoints.medium {
            @include mixins.max-width-tablet;
        }
        @include breakpoints.large {
            @include mixins.max-width-desktop;
        }
        
    }
}

// Hero
.section--hero {
    background-color: variables.$BandSite-Black;
    color: variables.$White;
    background: linear-gradient(to bottom, rgba(1, 1, 1, 0.4), rgba(5, 5, 5, 0.4)),  url('../assets/images/hero-bio.jpg');
    // background-image: url('../assets/images/hero-bio.jpg');
    height: 50vh;
    min-width: 100%;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    @include mixins.display-flex($justifyContent: left);
    
}

// About
.section--about {

    &__blockquote {
        margin: 0px;
        padding: 1rem 0rem;
        font-weight: 600;
    
    }

    &__quote-source {
        padding-top: 1rem;
        font-size: 0.875rem;
        font-weight: 500;
    }
    
}

// Gallery
.section--gallery {
    background-color: variables.$Alabaster;
    padding-bottom: 1rem;
    

    &__gallery {
        @include mixins.display-flex($flexDirection: column);
    
    }
}


// Tablet
@include breakpoints.medium {
    .section--hero {
        height: 60vh;
    }
    .section--about {
        h2 {
            margin-bottom: 0.5rem;    
        }
        h3 {
            margin-bottom: 0.25rem;
        }
        &__content-wrapper {
            max-width: 80%;
            margin: 0 auto;

            &__article {
                display: flex;
                gap: 1rem;
                padding-bottom: 1.5rem;
            }
        }
    }
    .section--gallery {
        padding-top: 1rem;

        &__gallery {
            @include mixins.display-flex($flexDirection: row, $justifyContent: space-between, $gap: 0rem);
            flex-wrap: wrap;
            // row-gap: 1rem;
            row-gap: 5vw;
        
        }
        .gallery-item {
            // width: (100%/3);
            flex: 0 1 30%;

            // &__img {
            //     // object-fit: cover;
            // }
            
        }

        h2 {
            text-align: left;
            margin-bottom: 1rem;
        }
    }
}

// Desktop
@include breakpoints.large {
    .section--about {

        &__blockquote {
            max-width: 80%;
            font-size: 1.25rem;
            line-height: 1.8;
        }
    }
}