@use "../helpers/breakpoints" as breakpoints;
@use "../global/variables" as variables;

.comment-feed__form {
    width: 100%;
    // avatar

    // form fields
    
        // both inputs
        .comment-feed__input-text {
             // min-height 36 mobile, 48 desktop
            height: 2.25rem;
            padding: 0.75rem;
            border-radius: 0.25rem;
            border: 1px solid variables.$Mercury;
            width: 100%;
            transition: all 400ms ease;
            background-color: variables.$Alabaster;
            margin-bottom: 1rem;

                &:focus {
                    outline: 1px solid variables.$BandSite-Black;
                }
                &:hover {
                    background-color: variables.$Mercury;
                }
                
        }
        label {
            color: variables.$Silver;
            margin-bottom: 0.25rem;
        }

        .error {
            outline: 1px solid variables.$Error-Red;
        }

        // .comment-feed__input--name {

        // }
        // .comment-feed__input--comment {
        //         // different height
        //         // height: 10rem;

        // }
    

    // submit button
    .comment-feed__submit {
        border: none;
        width: 100%;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
}

// Tablets
@include breakpoints.medium {

    .comment-feed__form {
        display: flex;
        flex-direction: column;
    }
    .comment-feed__input-text {
        padding: 1rem;
    }

    .comment-feed__submit {
        align-self: flex-end;
        width: 30%!important;
    }

}



// .error-state {
//     outline: 
// }