
// Primary Colors

// BandSite-Black: Primary text color for dark on light background. Dark background color
$BandSite-Black: #323232;

// Silver: Seconday text color. Inactive CTA text color.
$Silver: #AFAFAF;
// White: Primary text color for light on dark background. Light background color. Active CTA text color.
$White: #fff;


/// Secondary Colors
/// 
/// // BandSite-DarkBlack: CTA hover state.
$BandSite-DarkBlack: #000;

//  Mercury: Divider line. Form field outline.
$Mercury: #E1E1e1;

//  Alabaster: Alternative light background color
$Alabaster: #FAFAFA;

